* {
    box-sizing: border-box;
}

:root {
    --cutmark-offset: 85%;
    --cutmark-size: 8px;
    --cutmark-ratio: 2;
}

@page {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #222;
}

*::-webkit-scrollbar {
    width: 10px;
    background: #222;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border: 2px solid #222;
}

*::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

*::-webkit-scrollbar-corner {
    background: #222;
}

.sidebar {
    background-color: #272727;
    padding: 1em;
}
.sidebar .item {
    margin-bottom: 1em;
}
.sidebar .caption-editor-wrapper {
    background-color: white;
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #343434;
}

.gallery {
    background-color: #272727;
    height: 100vh;
    overflow-y: auto;
    padding-top: 1em;
}

.gallery-image {
    width: 100%;
    margin-bottom: 1em;
    object-fit: cover;
    border-radius: 4px;
    border: 1pt solid #777777;
}

.page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 8cm;
    width: fit-content;
    font-size: 9pt;
    background-color: white;
}

.album .page-wrapper {
    width: fit-content;
}

.album .page-bar {
    color: rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.album .page-bar .action {
    cursor: pointer;
}

.description {
    width: 150px;
}

.content {
    padding: 2em;
    padding-left: 3.5em;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: opacity 0.2s ease;
    position: relative;
}
.content .text {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    line-height: 1.2;
    height: 100%;
}
.content .text p {
    margin: 0;
}
.content:hover {
    opacity: 0.6;
}
.content::before {
    content: '';
    position: absolute;
    top: 1em;
    left: 2.2em;
    right: 1em;
    bottom: 1em;
    border: 1pt dashed black;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.content:hover::before {
    opacity: 0.6;
}

.album .page img {
    aspect-ratio: 3 / 2;
    height: 100%;
    object-fit: cover;
}

/* -------------------------------------------------------------------------- */
/*                               Printing layout                              */
/* -------------------------------------------------------------------------- */

.a3-page {
    width: 420mm;
    height: 297mm;
    border: 1pt solid black;
    position: relative;
    padding: 10mm;
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(auto-fill, 18cm);
    grid-template-rows: repeat(auto-fill, 9cm);
}

.a3-page .page-wrapper {
    height: 8cm;
    margin: 0.5cm;
    display: block;
}

.a3-page label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    bottom: 12mm;
    right: 10mm;
}

/*
 * Even pages must mirror vertically the odd pages layout
 */
.a3-page.even {
    align-content: end;
}
.a3-page.even .page-wrapper:nth-of-type(1),
.a3-page.even .page-wrapper:nth-of-type(3),
.a3-page.even .page-wrapper:nth-of-type(5) {
    grid-column: 1 / 2;
}
.a3-page.even .page-wrapper:nth-of-type(2),
.a3-page.even .page-wrapper:nth-of-type(4),
.a3-page.even .page-wrapper:nth-of-type(6) {
    grid-column: 2 / 2;
}
.a3-page.even .page-wrapper:nth-of-type(1),
.a3-page.even .page-wrapper:nth-of-type(2) {
    grid-row: 3 / 4;
}
.a3-page.even .page-wrapper:nth-of-type(3),
.a3-page.even .page-wrapper:nth-of-type(4) {
    grid-row: 2 / 3;
}
.a3-page.even .page-wrapper:nth-of-type(5),
.a3-page.even .page-wrapper:nth-of-type(6) {
    grid-row: 1 / 2;
}

.printonly {
    display: none;
}

@media print {
    @page {
        size: A3 landscape;
        margin: 0;
    }
    .screenonly,
    .punchmarks,
    .page::before {
        display: none !important;
    }
    .printonly,
    .cutmark {
        display: block;
    }
    .a3-page.printonly {
        display: grid;
    }
    body {
        padding: 0;
    }
    .a3-page {
        border: none;
    }
}









/* -------------------------------------------------------------------------- */
/*                                    MARKS                                   */
/* -------------------------------------------------------------------------- */


/* .album[data-cut-preview="true"] .cutmark, */
.album[data-cut-preview="true"] .page::before {
    display: block;
}
.album[data-cut-preview="true"] .punchmarks {
    display: flex;
}
.album .cutmark,
.album .punchmarks,
.album .page::before {
    display: none;
}


.cutmark {
    position: absolute;
    width: var(--cutmark-size);
    height: var(--cutmark-size);
}

.cutmark::before {
    content: '';
    border-top: 1pt solid black;
    top: 50%;
    left: var(--cutmark-offset);
    width: calc(100% * var(--cutmark-ratio));
    position: absolute;
}

.cutmark::after {
    content: '';
    border-left: 1pt solid black;
    top: var(--cutmark-offset);
    left: 50%;
    height: calc(100% * var(--cutmark-ratio));
    position: absolute;
}

.cutmark:nth-child(1) {
    top: 0;
    left: 0;
    rotate: 180deg;
}

.cutmark:nth-child(2) {
    top: 0;
    right: 0;
    rotate: 270deg;
}

.cutmark:nth-child(3) {
    bottom: 0;
    left: 0;
    rotate: 90deg;
}

.cutmark:nth-child(4) {
    bottom: 0;
    right: 0;
    rotate: 0deg;
}

.punchmarks {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0.3cm;
    justify-content: space-between;
}

.punchmarks i {
    width: 0.5cm;
    height: 0.5cm;
    border-radius: 50%;
    border: solid 1pt black;
}

.page::before { /* cut limit */
    content: '';
    position: absolute;
    top: calc(calc(var(--cutmark-size) / 2) - 1pt);
    left: calc(calc(var(--cutmark-size) / 2) - 1pt);
    right: calc(calc(var(--cutmark-size) / 2) - 1pt);
    bottom: calc(calc(var(--cutmark-size) / 2) - 1pt);
    border: 1pt solid black;
    box-sizing: border-box;
}